In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_excel('../data/climate_change_download_0.xls')

In [5]:
df.columns

Index(['Country code', 'Country name',  'Series code',  'Series name',
              'SCALE',     'Decimals',           1990,           1991,
                 1992,           1993,           1994,           1995,
                 1996,           1997,           1998,           1999,
                 2000,           2001,           2002,           2003,
                 2004,           2005,           2006,           2007,
                 2008,           2009,           2010,           2011],
      dtype='object')

In [6]:
df = df[['Country name', 'Series name', 1990, 2000, 2005, 2010]]

In [7]:
df['Series name'].unique()

array(['Land area below 5m (% of land area)',
       'Agricultural land under irrigation (% of total ag. land)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Access to electricity (% of total population)',
       'Energy use per units of GDP (kg oil eq./$1,000 of 2005 PPP $)',
       'Energy use per capita (kilograms of oil equivalent)',
       'CO2 emissions, total (KtCO2)',
       'CO2 emissions per capita (metric tons)',
       'CO2 emissions per units of GDP (kg/$1,000 of 2005 PPP $)',
       'Other GHG emissions, total (KtCO2e)',
       'Methane (CH4) emissions, total (KtCO2e)',
       'Nitrous oxide (N2O) emissions, total (KtCO2e)',
       'Annex-I emissions reduction target',
       'Disaster risk reduction progress score (1-5 scale; 5=best)',
       'GHG net emissions/removals by LUCF (MtCO2e)',
       'Hosted Clean Development Mechanism (CDM) projects',
       'Hosted Joint Implementation (JI) projects',
       'Average annual precipitation (1961-1990, mm)',
       'Issued Certified Emission Reductions (CERs) from CDM (thousands)',
       'Issued Emission Reduction Units (ERUs) from JI (thousands)',
       'Droughts, floods, extreme temps (% pop. avg. 1990-2009)',
       'Average daily min/max temperature (1961-1990, Celsius)',
       'NAMA submission', 'NAPA submission',
       'Latest UNFCCC national communication',
       'Projected annual temperature change (2045-2065, Celsius)',
       'Projected change in annual cool days/cold nights',
       'Projected change in annual hot days/warm nights',
       'Projected annual precipitation change (2045-2065, mm)',
       'Renewable energy target', 'Population below 5m (% of total)',
       'Population in urban agglomerations >1million (%)',
       'Annual freshwater withdrawals (% of internal resources)',
       'Nationally terrestrial protected areas (% of total land area)',
       'Ease of doing business (ranking 1-183; 1=best)',
       'Invest. in energy w/ private participation ($)',
       'Invest. in telecoms w/ private participation ($)',
       'Invest. in transport w/ private participation ($)',
       'Invest. in water/sanit. w/ private participation ($)',
       'Public sector mgmt & institutions avg. (1-6 scale; 6=best)',
       'Paved roads (% of total roads)', 'GDP ($)',
       'GNI per capita (Atlas $)',
       'Ratio of girls to boys in primary & secondary school (%)',
       'Primary completion rate, total (% of relevant age group)',
       'Under-five mortality rate (per 1,000)',
       'Access to improved water source (% of total pop.)',
       'Nurses and midwives (per 1,000 people)',
       'Physicians (per 1,000 people)',
       'Malaria incidence rate (per 100,000 people)',
       'Access to improved sanitation (% of total pop.)',
       'Child malnutrition, underweight (% of under age 5)',
       'Population living below $1.25 a day (% of total)',
       'Population growth (annual %)', 'Population',
       'Urban population growth (annual %)', 'Urban population'],
      dtype=object)

In [8]:
# df = df[df['Series name'].isin(['Land area below 5m (% of land area)','Cereal yield (kg per hectare)', 'CO2 emissions per capita (metric tons)', \
#                                 'Foreign direct investment, net inflows (% of GDP)', 'GNI per capita (Atlas $)', \
#                                'Energy use per capita (kilograms of oil equivalent)', 'Population in urban agglomerations >1million (%)', \
#                                'Nationally terrestrial protected areas (% of total land area)', 'Population growth (annual %)', \
#                                'Urban population growth (annual %)'])]

In [9]:
df = df[df['Series name'].isin(['GNI per capita (Atlas $)', 'Energy use per capita (kilograms of oil equivalent)', \
                                'Population in urban agglomerations >1million (%)', 'Population growth (annual %)', \
                               'Nationally terrestrial protected areas (% of total land area)'])]

In [10]:
df.head()

,Country name,Series name,1990,2000,2005,2010
1398,Aruba,Energy use per capita (kilograms of oil equiva...,..,..,..,..
1399,Andorra,Energy use per capita (kilograms of oil equiva...,..,..,..,..
1400,Afghanistan,Energy use per capita (kilograms of oil equiva...,..,..,..,..
1401,Angola,Energy use per capita (kilograms of oil equiva...,569.242999,533.443417,551.955632,..
1402,Albania,Energy use per capita (kilograms of oil equiva...,809.215612,574.984635,724.181361,..

In [11]:
# df = df.replace('..', np.nan)

In [12]:
# df = df.dropna()

In [13]:
df['Series name'].unique()

array(['Energy use per capita (kilograms of oil equivalent)',
       'Population in urban agglomerations >1million (%)',
       'Nationally terrestrial protected areas (% of total land area)',
       'GNI per capita (Atlas $)', 'Population growth (annual %)'],
      dtype=object)

In [14]:
df['Country name'].value_counts().index

Index(['Aruba', 'Nepal', 'Mauritius', 'Malawi', 'Malaysia', 'Mayotte',
       'Namibia', 'New Caledonia', 'Niger', 'Nigeria',
       ...
       'Gambia, The', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Zimbabwe',
       'Small island developing states'],
      dtype='object', length=233)

In [15]:
df = df[df['Country name'].isin(['Austria', 'Portugal', 'United States', 'Germany', 'Spain', 'France',
       'United Kingdom', 'Greece', 'Hungary', 'Belgium', 'Ireland', 'Italy',
       'Japan', 'Netherlands', 'Romania', 'India', 'Poland', 'Canada', 'China',
       'Saudi Arabia', 'Slovenia'])]

In [16]:
df.columns

Index(['Country name', 'Series name', 1990, 2000, 2005, 2010], dtype='object')

In [17]:
df_melted = pd.melt(df, id_vars=['Series name', 'Country name'], value_vars=[1990, 2000, 2005, 2010]).sort_values(['Series name', 'Country name']).reset_index(drop=True)

In [18]:
# df_melted

In [19]:
# df_melted = df_melted.replace('..', '')

In [20]:
# df_group = df_melted.groupby(['Series name', 'Country name']).apply(lambda x: x.to_dict(orient='records'))

In [21]:
# df_melted.to_json('data_json.json', orient='records')

In [22]:
# df_melted

In [23]:
# #dict_data = {"name": "Co2", "children": []}
# from collections import defaultdict
# dict_data = []
# series_set = set()
# i = 0
# j=0
# k=0
# for s, c, d, v in df_melted.values:
# #     print(i, j)
# #     print(dict_data)
#     if s in series_set:
#         if dict_data[j-1]["name"] == s:
#             if dict_data[j-1]["children"][i-1]["name"] == c:
#                 dict_data[j-1]["children"][i-1]["children"].append({"name": str(d), "value": v})
# #                 print("A",i, j)
#             else:
                
#                 dict_data[j-1]["children"].append({"name": c, "children": [{"name": str(d), "value": v}]})
#                 #dict_data["chldren"][i]["children"].append({"name": d, "value": v})
#                 i+=1
# #                 print("B", i, j)
#     else:
#         dict_data.append({"name": s, "children": [{"name": c, "children": [{"name": str(d), "value": v}]}]})
#         series_set.add(s)
#         j+=1
#         i=1
# #         print("C", i, j)

In [24]:
#dict_data = {"name": "Co2", "children": []}
from collections import defaultdict
dict_data = []
series_set = set()
i = 0
j=0
k=0
for s, c, d, v in df_melted.values:
    if v!="..":
        if s in series_set:
            if dict_data[j-1]["name"] == s:
                if dict_data[j-1]["children"][i-1]["name"] == c:
                    dict_data[j-1]["children"][i-1]["children"].append({"name": str(d), "value": v})
                else:

                    dict_data[j-1]["children"].append({"name": c, "children": [{"name": str(d), "value": v}]})
                    i+=1
        else:
            dict_data.append({"name": s, "children": [{"name": c, "children": [{"name": str(d), "value": v}]}]})
            series_set.add(s)
            j+=1
            i=1

In [25]:
final_data = {"name": "Co2 emission", "children": dict_data}

In [26]:
import json 
with open("../data/co2_data_hierarchical.json", "w") as outfile:
    json.dump(final_data, outfile)